<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Expense Log</title>
</head>
<body>
    <h1>Welcome to Finance Tracker</h1><br>
    <h3 class="index">Keep track of your expeses...</h3>
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <main>
        <article>This app enables you to keep track of your finances by logging your expenses and providing analysis on:
             daily, weekly, monthly and yearly basis. With 8 main categories and with over 30 subcategories, 
             you will be identify any excessive spending and plan your finances better.</article>
    </main>
    <footer>
        <p>Created by Stoyan Todorov &copy; 2024</p>
        <p><a href="mailto:c.todopob@gmail.com">E-mail</a></p>
        <p><a href="https://www.linkedin.com/in/stoyan-todorov-698abb148/">Linked In</a></p>
        <p><a href="https://github.com/doxa-xa/ExpenseTracker/tree/master">Github</a></p>
        <p><a href="https://www.facebook.com/StoyanTodorov86">Facebook</a></p>
    </footer>
</body>
</html>