<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Expenses Tracker - Register</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="username" id="username" placeholder="user name">
        <input type="password" name="passwd" id="passwd" placeholder="password">
        <input type="password" name="confpasswd" id="confpasswd" placeholder="confirm password">
        <input type="email" name="email" id="email" placeholder="john.doe@example.com">
        <input type="submit" value="Register">
        <p>Already have an account? You can <a href="/login">login</a> here.</p>
    </form>
    
</body>
</html>